{% extends 'ejemplo_soft/base.html' %}

{% block contenido %}
<h1>Acerca del Blog</h1>
    <h5>La sección about us es una sección puede considerarse una parte fundamental
        en la que la gente se fija al momento de entrar a un sitio web, en el que no
        todos le ponen el empeño necesario al momento de hacerla.
        En esta sección, se coloca la información general de la empresa, como surgió,
        su management así como los miembros más importantes, a que y porque se dedican
        a lo que hacen, así como la ubicación de la empresa, los contactos principales,
        etc. Muchas empresas dejan esta parte de la información ya que
        no lo ven relevante, cuando es una parte importantísima al momento de dejarle
        en claro al cliente quienes somos, esto da una buena imagen además de que genera
        confianza, por eso, aquí te dejamos unos consejos a tomar en cuenta para tu sección
        about us.
        Si la gente ya conoce el servicio que ofreces, es bueno mostrar quien
        se encarga de todo, esto genera la confianza ya que reflejas que todo el personal
        con el que se cuenta está capacitado totalmente para llevar a cabo su trabajo,
        también es bueno poner las certificaciones y reconocimientos con los que se cuentan.
        Muchas veces estas páginas están llenas de tecnicismos que la gente no va a leer
        y terminaran aburriéndole, esto es cuando se habla demasiado de la empresa,
        lo más recomendable es hablar del servicio que recibirán los clientes,
        es llenarle el ojo con lo que van a adquirir, de esta manera captaras su total
        atención.
    </h5>
{% endblock %} 